// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_course {
  text-decoration: none;
  width: 120px;
  font-size: 15px;
  background: #fec548;
  color: black;
  margin-left: 20px;
  margin-top: 20px;
}

#add_course:hover {
  color: ghostwhite;
}

.course_display {
  color: #333;
  text-align: left;
  line-height: 40px;
  border-spacing: 0;
  border: 1px solid #2980b9;
  width: 900px;
  margin: 50px auto;
  line-height: 2em;
}

#editor_email {
  width: 80%;
  height: 150px;
}

.create_edit_inner_padd {
  padding: 14px;

}

.course_display_title {
  height: 60px;
  background: #2980b9;
  color: #fff;
  border: none;
  padding-top: 18px;
  border-bottom: 2px solid #ddd;
}

.course_display_title h3 {
  margin: 0px;


  font-size: 20px;
  font-family: Ubuntu;
  padding: 0 15px 0 20px;
  font-weight: bold;
  text-align: left;
}



.course_display .course_box {
  padding-left: 30px;
  }

.save_course_submit {
  float: right;
}

.course_box {
  position: relative;
  margin-top: 80px;
}

#course_name{
  text-decoration: none;
  font-size: 20px;
  font-family: Ubuntu;
  color: #dd9902;
  margin-right: 20px;

}

#manage_course_text{
  font-size: 20px;
  font-family: Ubuntu;
  font-weight: bold;
  margin-left: 20px;
}

#delete_course{
  display: inline-block;
  margin-left: 50px;
  position: absolute;
  right: 20px;
}

#course_submit{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    color: black;
    background: #fec548;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
}

#course_submit:hover{
  color: ghostwhite;
}