/* line 5, ../../app/assets/stylesheets/dashboard.css.scss */
.nav ul {
  list-style: none;
  background-color: #FDB515;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 12, ../../app/assets/stylesheets/dashboard.css.scss */
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

/* line 20, ../../app/assets/stylesheets/dashboard.css.scss */
.nav a {
  text-decoration: none;
  color: #003A70;
  display: block;
  transition: .3s background-color;
  font-family: Ubuntu;
  border-radius: 10px;
}

/* line 29, ../../app/assets/stylesheets/dashboard.css.scss */
.nav a:hover {
  background: #fee6b0;
  transition: .5s;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* line 37, ../../app/assets/stylesheets/dashboard.css.scss */
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  /* line 44, ../../app/assets/stylesheets/dashboard.css.scss */
  .nav li {
    width: 220px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  /* line 53, ../../app/assets/stylesheets/dashboard.css.scss */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  ul#top {
    border-bottom: 5px #FDB515 solid;
  }

  /* line 74, ../../app/assets/stylesheets/dashboard.css.scss */
  .dashboard_title {
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
  }

  #background-overlay{
    background: white;
    position: absolute;
    width: 100%;
    height: 103%;
    opacity: 0.6;
    z-index:-1;
  }
}
