

.form_fields {
  width: 400px;
  min-height: 300px;
  border: 1px solid black;
}


.form_fields_list > * {
  margin: 3px;
}


.question_container {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  position: relative;
}

.question_container .delete_field_button {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
  color: Red;
  font-size: 9px;
  font-weight: bold;
}