


.option_row td {
  border: 1px solid black;
  padding: 5px;
}

.option_row  {
  border: 1px solid red;
}

#form_survey_template {
  margin-left: auto;
  margin-right: auto;
  width: 600px;

}

.form_fields {
  width: 600px;
  min-height: 300px;
  border: 1px solid black;
  padding: 9px;
}


.form_fields_list > * {
  margin: 3px;
}


.question_container {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin_table {
  color: #333;
  text-align: left;
  line-height: 40px;
  border-spacing: 0;
  border: 1px solid #428bca;
  width: 980px;
  margin: 20px auto;
}

.admin_table  thead tr:first-child {
  background: #428bca;
  color: #fff;
  border: none;
}

.admin_table  th {font-weight: bold;}
.admin_table  th:first-child, .admin_table  td:first-child {padding: 0 15px 0 20px;}

.admin_table  thead tr:last-child th {border-bottom: 2px solid #ddd;}

.admin_table  tbody tr:hover {background-color: #f0fbff;}
.admin_table  tbody tr:last-child td {border: none;}
.admin_table tbody td {border-bottom: 1px solid #ddd;}

.admin_table td:last-child {
  text-align: left;
  padding-right: 10px;
}

.button {
  color: #428bca;
  text-align: center;
  text-decoration: none;
  padding-left: 15px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sort_tag {
  position: relative;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  height: 30px;
  position: relative;
  top: 7px;
  text-align: center;
  padding: 5px;
}

#name {
  background: rgb(28, 184, 65); /* this is a green */
}

#course {
  background: rgb(202, 60, 60); /* this is a maroon */
}

#date {
  background: rgb(223, 117, 20); /* this is an orange */
}

/*.button-secondary {
  background: rgb(66, 184, 221); *//* this is a light blue *//*
}*/

.sort_tag div {
  position: relative;
  bottom: 11px;
}


.question_container .delete_field_button {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
  color: Red;
  font-size: 9px;
  font-weight: bold;
}