<%= render :partial => "survey_table", :locals => {:@survey_id => "my_surveys", :surveys => @templates, :@title => 'My Surveys', :@private => true, :@other_survey => "public_surveys", :other_sort => @my_survey_sort}%>
<%= render :partial => "survey_table", :locals => {:@survey_id => "public_surveys", :surveys => @public_templates, :@title=> "Public Surveys", :@private => false, :@other_survey => "my_surveys", :other_sort => @public_survey_sort}%>

<div id = "clone_dialog" data-template-id = "" style="display:none"> 
  <form>
    Which course would you like to clone this survey to?
    <select id="select_course_name">
      <%- @courses.each do |course| %>
        <option value="<%= course.name %>"><%= course.name %></option>
      <% end %>
    </select>
  </form>
</div>
