<%= label_tag "submission[" + field.id.to_s + "]", field.question_title, class: "field_label", id: field.id %>
<% field.field_options.each do |option| %>
	<br>
    <label for= <%="submission_#{field.id}_#{option[0]}"%> > <%=option[0]%>
    <%= radio_button_tag("submission[" + field.id.to_s + "]", option[0]) %>
	</label>


    
<% end %>
