<div>
  <%= label_tag "submission[" + field.id.to_s + "]", field.question_title, class: "question_title", id: field.id, name: "field-" + field.question_title  %>
</div>

<% field.field_options.each do |option| %>

    <div class="question_choices">
      
      <label > 
        <%= radio_button_tag("submission[" + field.id.to_s + "]", option[0]) %>
      <%=option[0]%></label>
    </div>

<% end %>
