<div>
  <%= label_tag "submission[" + field.id.to_s + "]", field.question_title, class: "question_title", id: field.id %>
</div>
<div class="question_choices">
  <%= text_field_tag "submission[" + field.id.to_s + "]", nil, class: "field_box", id: "text_field" %>
</div>
