<div class="header">
  <div id="icon">
    <%= image_tag("seal.png")%>
  </div>
  <div id="text">SurveyOski</div>
  <% if @current_user %>
    <div><%=link_to "Logout", "/logout", :id=>"logout" %></div>
  <% end %>
</div>